<div class="container-fluid" style="margin-bottom: 150px;">
    <h2 class="text-center" style="margin-top: 100px; margin-bottom: 50px; color:  #fa7a75; font-size: 40px;">Happy Stories</h2>
    <div class="row">
    <div class="col-2 "></div>
 
<div class="col-8 ">
    <div class="row">
        <div class="col-4">
            <figure class="snip0015">
                <img class="" src="assets/img/m22.jpg"  alt="sample38"/>
                <figcaption>
                    <h2>Nitish & Juhi</h2>
                    <p>A Chartered Accountant and a Doctor. The best of both worlds. I have to remind myself that it is still kind of bonkers that a computer algorithm h...</p>
                 </figcaption>			
            </figure>
            
        </div>
        <div class="col-4">     
<figure class="snip0015">
	<img class="" src="assets/img/c1.jpg" alt="sample39"/>
	<figcaption>
		<h2>Anjali & Gaurang</h2>
		<p>A Chartered Accountant and a Doctor. The best of both worlds. I have to remind myself that it is still...</p>
 	</figcaption>			
</figure>
        </div>
        <div class="col-4">

<figure class="snip0015">
	<img class="" src="assets/img/m28.jpg" alt="sample40"/>
	<figcaption>
		<h2>Anjali & Gaurang</h2>
        <p>A Chartered Accountant and a Doctor. The best of both worlds. I have to remind myself that it is still kind of bonkers that a computer algorithm called h...</p>
 	</figcaption>			
</figure>
        </div>
</div>
</div>
<div class="col-2 "></div>

</div>
</div>