 
<div class=" p-0">
    <app-navbar></app-navbar>
</div>
<div class="container-fluid d-none d-xl-block" >
    <div class="row" style="height: 100px;"></div>

    <div class="container col-12" style="margin: auto;">
        <div class="row" style=""></div>
    
        <div class="card cardshadow" style="margin-top: 20px; background-color: white;  border-radius: 20px;">
            <div class="card-body">
                <h1 class="text-center" style=" ">About Us</h1>

                <div class="" style="margin-left:150px; margin-right:150px; margin-top: 30px;">
                    <p class="font" style="font-size: 20px;"><strong class="font" style="font-size:25px;">WAB IT
                            Software Pvt. Ltd.
                            (Solutions)</strong>
                        Is a service and product base Software and IT company.Since 2014 we try to serve the different
                        IT &
                        Software Products and Services for our clients.
                        The services like Application Development, Web Development, Mobile Apps, M-Commerce, E-Commerce,
                        ERP, CRM, SEO, Domain Name Booking, Hosting, Bulk SMS etc. From 2014 we travel as a small scale
                        company
                        named
                        as a WAB IT Solutions by efforts of our Developers Team & Staff now we become middle level
                        company name
                        as
                        a WAB IT Software Pvt Ltd. We believe to develop our self and provide best services to our
                        clients and
                        we
                        have dreams to cover all Domestic & International Market in IT sector.</p>
                </div>
            </div>
        </div>


        <div class="card cardshadow" style="margin-top: 10px; background-color: white;  border-radius: 20px;">
            <div class="card-body">

        <div class="row" style="margin-top: 40px; margin-left:150px; margin-right:150px;">
            
            <div class="col-6" style="margin: auto;">
                
                <img src="assets/image/WadileSir.jpg" alt="third slide"
                    style="display: block; margin: auto; width: 60%;height:500px; border-radius: 20px;">
            </div>
            <div class="col-6">
                <h2 class="mb-4 font">Sachin Wadile</h2>
                <h1 class="mb-4 font" style="font-size: 25px;font-weight: bold;">Founder/Director/HR Head</h1>
                <h3 class="mb-4 font" style="font-size: 20px; font-weight: bold;">Client’s idea & requirement is daily
                    meal
                    for me, which keeps me live.</h3>
                <p class="mb-4 font" style="font-size: 18px;">Sachin is a well-known public activist and good IT
                    services
                    provider entrepreneur.

                    Working as Founder/Director/HR Head for WAB IT Software pvt. Ltd. for 5 years he has launched
                    numerous IT projects. He has invested in multiple projects, such as Bhoivarvadhu.com, Maxigo,
                    justdialmyno…..etc.</p>

                <p class="mb-4" style="font-style: italic; font-size: 18px;">“"We are transforming this company into an
                    even more exciting, exhilarating place to work
                    by finding more effective, more efficient ways to integrate our information and enhance our
                    insight to help clients succeed. Every day we are changing our work in Technology and moving
                    to faster growth into IT sectors….Sachin Wadile.</p>
            </div>
        </div>

        </div>
        </div>

        <div class="card cardshadow" style="margin-top: 10px; background-color: white;  border-radius: 20px;">
            <div class="card-body">

        <div class="row" style="height: 500px; margin-top: 20px; margin-left:150px; margin-right:150px; ">
    
            <div class="col-6">
                <div>
                    <tabset>

                        <tab class="font" heading="Vision" id="tab1" style="font-size: 16px;">

                            1. Cover the whole domestic client as well abroad clients.<br><br>
                            2. Develop the at least 10 Products in month.<br><br>
                            3. Open 4 office branches in [Bangalore, Nasik, Hyderabad, & one more branch in Pune] city
                            into next 1 year.<br><br>
                            4. To Convert Domestic company to MNC into next 3years.<br><br>
                            5. To make the company as 3Level Company standard into next 1 year.<br><br>
                            6. To increase our developer staff size 150+ into next 1 year.<br><br>
                            7. To cover the domestic clients from [Bangalore, Nasik, Hyderabad, Mumbai, Nagpur,
                            Delhi...etc cites.</tab>
                        <tab class="font" heading="Mission" style="font-size: 16px;">
                            1. Our mission to complete the client’s project on given target date.<br><br>
                            2. To fulfill the clients requirements & our clients will satisfied by our work.<br><br>
                            3. To maintain Development quality.<br><br>
                            4. Encourage our employees to develop the product as per as requirements with best
                            quality.<br><br>
                            5. Handle the multiple projects at a time.
                        </tab>

                    </tabset>
                </div>


            </div>
      
            <div class="col-6">

                <accordion [isAnimated]="true" [closeOthers]="true">

                    <accordion-group [isOpen]="true">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <div class="pull-left float-left" style="font-weight:bold;">WAB IT News-1</div>
                        </button>
                        <strong class="font" style="font-family: Arial, Helvetica, sans-serif;
                         font-size: 18px; text-decoration: none;">
                            Since March 2014 to till date WAB IT SOFTWARE successfully has done 163 Company & Client
                            Projects</strong>

                        <p class="font"> 1. Number of Websites [Static & Dynamic].<br><br>
                            2. Number Of Mobile Apps [Clients Apps & Company Apps].<br><br>
                            3. Number of Desktop Software [Company Project].<br><br>
                            4. Web Applications Software [Company & Client Project].</p>

                    </accordion-group>
                    <accordion-group>
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <div class="pull-left float-left" style="font-weight:bold;">WAB IT News-2</div>
                        </button>
                        <p class="" style="font-family: Arial, Helvetica, sans-serif; 
                             font-size: 20px; text-decoration: none;">

                        <p class="font"> Nomination for Business Leader Summit & Awards-2017.</p>

                        <p class="font">"WAB IT SOFTWARE PVT. LTD got Nomination for Business Leader Summit &
                            Awards-2017".</p>

                        <p class="font">For"Best Emerging IT Service Provider in Maharashtra".</p>
                    </accordion-group>
                </accordion>

            </div>

        </div>
            </div></div>
        <div class="row" style="height: 50px;"></div>

    </div>

</div>

<div class="container-fluid ">

    <!-- small screen devices -->

    <div class="container col-12 d-xl-none" style="margin: auto; margin-top: 50px;">
        <h1 class="text-center " style="margin-bottom: 50px;">About Us</h1>
        <div class="" style="">
            <p class="" style="font-size: 15px;"><strong class="" style="font-size: 20px;">WAB IT Software Pvt. Ltd.
                    (Solutions)</strong>
                Is a service and product base Software and IT company.Since 2014 we try to serve the different IT &
                Software Products and Services for our clients.
                The services like Application Development, Web Development, Mobile Apps, M-Commerce, E-Commerce,
                ERP, CRM, SEO, Domain Name Booking, Hosting, Bulk SMS etc. From 2014 we travel as a small scale company
                named
                as a WAB IT Solutions by efforts of our Developers Team & Staff now we become middle level company name
                as
                a WAB IT Software Pvt Ltd. We believe to develop our self and provide best services to our clients and
                we
                have dreams to cover all Domestic & International Market in IT sector.</p>
        </div>

        <div class="row " style="">
            <div class="col-12 col-md-4 mt-4 mb-4 " style="margin: auto;">
                <img src="assets/image/WadileSir.jpg" alt="third slide"
                    style="display: block; margin: auto; width: 80%;height:350px;">
            </div>
            <div class="col-12 ">
                <h2 class="mt-4 mb-4">Sachin Wadile</h2>
                <h1 class="mb-4" style="font-size: 22px;font-weight: bold;">Founder/Director/HR Head</h1>
                <h3 class="mb-4" style="font-size: 18px; font-weight: bold;">Client’s idea & requirement is daily meal
                    for me, which keeps me live.</h3>
                <p class="mb-4" style="font-size: 16px;">Sachin is a well-known public activist and good IT services
                    provider entrepreneur.

                    Working as Founder/Director/HR Head for WAB IT Software pvt. Ltd. for 5 years he has launched
                    numerous IT projects. He has invested in multiple projects, such as Bhoivarvadhu.com, Maxigo,
                    justdialmyno…..etc.</p>

                <p class="mb-4" style="font-style: italic; font-size: 16px;">“"We are transforming this company into an
                    even more exciting, exhilarating place to work
                    by finding more effective, more efficient ways to integrate our information and enhance our
                    insight to help clients succeed. Every day we are changing our work in Technology and moving
                    to faster growth into IT sectors….Sachin Wadile.</p>
            </div>
        </div>

        <div class="row " style="">
            <div class="col-12 mb-4">
                <div>
                    <tabset>

                        <tab heading="Vision" id="tab1" style="font-size: 15px;">

                            1.Cover the whole domestic client as well abroad clients.<br><br>
                            2.Develop the at least 10 Products in month.<br><br>
                            3.Open 4 office branches in [Bangalore, Nasik, Hyderabad, & one more branch in Pune] city
                            into next 1 year.<br><br>
                            4.To Convert Domestic company to MNC into next 3years.<br><br>
                            5.To make the company as 3Level Company standard into next 1 year.<br><br>
                            6.To increase our developer staff size 150+ into next 1 year.<br><br>
                            7.To cover the domestic clients from [Bangalore, Nasik, Hyderabad, Mumbai, Nagpur,
                            Delhi...etc cites.</tab>
                        <tab heading="Mission" style="font-size: 15px; margin-bottom: 150px;">
                            1.Our mission to complete the client’s project on given target date.<br><br>
                            2.To fulfill the clients requirements & our clients will satisfied by our work.<br><br>
                            3.To maintain Development quality.<br><br>
                            4.Encourage our employees to develop the product as per as requirements with best
                            quality.<br><br>
                            5.Handle the multiple projects at a time.
                        </tab>

                    </tabset>
                </div>


            </div>

            <div class="col-12">

                <accordion [isAnimated]="true" [closeOthers]="true">

                    <accordion-group [isOpen]="true">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <div class="pull-left float-left" style="font-weight:bold;">WAB IT News-1</div>
                        </button>
                        <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                         font-size: 14px; text-decoration: none;">
                            Since March 2014 to till date WAB IT SOFTWARE successfully has done 163 Company & Client
                            Projects</strong>

                        <p style="font-size:14px ;"> 1.Number of Websites [Static & Dynamic].<br><br>
                            2.Number Of Mobile Apps [Clients Apps & Company Apps].<br><br>
                            3.Number of Desktop Software [Company Project].<br><br>
                            4.Web Applications Software [Company & Client Project].</p>

                    </accordion-group>
                    <accordion-group>
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <div class="pull-left float-left" style="font-weight:bold;">WAB IT News-2</div>
                        </button>
                        <p class="" style="font-family: Arial, Helvetica, sans-serif; 
                             font-size: 14px; text-decoration: none;">

                            <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                            font-size: 14px; text-decoration: none;">
                                Nomination for Business Leader Summit & Awards-2017.</strong><br><br>
                            <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                            font-size: 14px; text-decoration: none;">
                                "WAB IT SOFTWARE PVT. LTD got Nomination for Business Leader Summit &
                                Awards-2017".</strong><br><br>
                            <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                            font-size: 14px; text-decoration: none;">
                                For"Best Emerging IT Service Provider in Maharashtra".</strong>

                    </accordion-group>
                </accordion>

            </div>
        </div>
        <div class="row" style="height: 50px;"></div>
    </div>

</div>

<div class="">
    <app-footer-homepage></app-footer-homepage>
</div>