:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  div#locs_list>div {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }