<div class="">
    <app-navbar></app-navbar>
</div>

<div class="container-fluid">
    <div class="row" style="margin-left:150px; margin-right:150px;">
        <h1 class="text-center" style="margin: auto; margin-bottom: 50px; margin-top: 50px;">Join Us</h1>
 <div class="col-12">
    <accordion [isAnimated]="true"[closeOthers] = "true" class="">
                      
        <accordion-group [isOpen]="true">
            <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
              <div class="pull-left float-left" style="font-weight:bold;">Freelancer Marketing Executive</div>
             </button>
             <strong class="" style="font-family: Arial, Helvetica, sans-serif;
             font-size: 22px; text-decoration: none;">
             Detailed Job Description:- </strong>

            <p style="font-size: 18px;"> We have Opening for Freelancer Marketing Executive.</p><br><br>
     

            <strong class="" style="font-family: Arial, Helvetica, sans-serif;
             font-size: 22px; text-decoration: none;">
             exp:- </strong>
             <p style="font-size: 18px;"> 0 to 5 years</p>


            <strong class="" style="font-family: Arial, Helvetica, sans-serif;
             font-size: 22px; text-decoration: none;">
             Qualifications:- </strong>
             <p style="font-size: 18px;"> [BE-Computer/ E & TC & Electronic, MCA, MSC, BSC, MCM, BCA, DIPLOMA, MBA-Marketing or any filed]</p><br><br>

             <strong class="" style="font-family: Arial, Helvetica, sans-serif;
             font-size: 22px; text-decoration: none;">
             Salary:- </strong>
             <p style="font-size: 18px;"> as per as company Rules. <br>
                Mail your CV on [ hr@wabitsolution.com ]</p>


            </accordion-group>
            <accordion-group>
                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                  <div class="pull-left float-left" style="font-weight:bold;">Jr.JAVA Developer</div>
                 </button>
                 <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                 font-size: 22px; text-decoration: none;">
                 Detailed Job Description:- </strong>
    
                <p style="font-size: 18px;">Core JAVA, Advance JAVA (JSP, Servlet)Web technologies: HTML, HTML5, CSS,CSS3, JSON, 
                    AJAXScripting language: JavaScript, JQueryFramework: Spring(With Rest web services*),bootstrap,
                     angularjs, angular materialORM tool: HibernateReports: jasper report, i-textDatabase: MYSQL, oracle </p><br><br>
         
                     <strong class="" style="font-family: Arial, Helvetica, sans-serif;
             font-size: 22px; text-decoration: none;">
             exp:- </strong>
             <p style="font-size: 18px;"> fresher can apply. </p>
                <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                 font-size: 22px; text-decoration: none;">
                 Qualifications:- </strong>
                 <p style="font-size: 18px;"> [BE-Computer/ E & TC & Electronic, MCA, MSC, BSC, MCM, BCA, DIPLOMA] 
                   <br> Only Freshers Candidates.</p><br><br>
    
                 <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                 font-size: 22px; text-decoration: none;">
                 Salary:- </strong>
                 <p style="font-size: 18px;"> as per as company Rules. <br>
                    Mail your CV on [ hr@wabitsolution.com ]</p>
    
    
                </accordion-group>

                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                      <div class="pull-left float-left" style="font-weight:bold;">Open for Live Project Internship 
                        for College Students</div>
                     </button>
                     <strong class="mb-2" style="font-family: Arial, Helvetica, sans-serif;
                     font-size: 22px; text-decoration: none;">
                     Job Summary </strong>
        
                    <p style="font-size: 18px;"> 
                        We have Opening for Live projects Internship training for college students [Mini & Mega Projects].<br>
                        2- vacancy for JAVA, 2- vacancy for PHP/UI, 2- vacancy for Testing/Database,<br>
                        Internship Projects for Last Year students.<br>
                        1] Desktop Projects in[JAVA/PHP/UI/.NET]<br>
                        2] Web Base Projects in [JAVA/PHP/UI/.NET]<br>
                        3] Websites [PHP/UI/WP]<br>
                        4] DATA Base Projects [JAVA/PHP/UI/.NET]<br>
                        5] Live/Online Projects [JAVA/PHP/UI/.NET]….etc<br>
                        Student can do the projects into company as per as their projects requirement.<br>
                        We can give the training on projects.<br>
                        or<br>
                        We can provide ready projects.<br>
                        All kind of guidance’s providing on projects.<br>
                        Hurry UP for projects or Projects Training ….<br>
                        Mail your cv on [hr@wabitsolution.com]<br>
                    </p><br><br>
             
                    <strong class="" style="font-family: Arial, Helvetica, sans-serif;
                    font-size: 22px; text-decoration: none;">
                    Qualifications:- </strong>
                    <p style="font-size: 18px;"> [BE-Computer/ E & TC & Electronic, MCA, MSC, BSC, MCM, BCA, DIPLOMA] 
                      <br> Only Freshers Candidates.</p><br><br>
        
                    </accordion-group>
                </accordion>


    </div>
</div>
</div>
<div class="">
    <app-footer></app-footer>
</div>