<div class="container-fluid">
  <div class="row">
<div class="col-2 border-border-primary"></div>
<div class="col-xl-10 border-border-primary" style=" background-color:#10c720 ">
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <div class="mb-4 border-bottom">
            <h5 class="text-center text-uppercase textwhite" style="color: antiquewhite;">Information</h5>
          </div>
          <p class="text-center"><a style="text-decoration: none; color: white;" href="http://www.wabitsolution.com/">www.bhoivarvadhu.com</a></p>
 

          <p class="textwhite" style="color: antiquewhite;">
            These two websites is same company website.<br><br>

            That websites is done only for business purpose of company, all information & images use only for business
            purpose of company.
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <div class="mb-4 border-bottom">

            <h5 class="text-center text-uppercase textwhite" style="color: antiquewhite;">Information</h5>
          </div>
          <p class="textwhite" style="color: antiquewhite;">
            <br> Company has right reserved to make changes into website.<br><br>

            Any other company or person cannot use this websites or websites information for their business or personal
            use. If we find then we will take legal action on that.
          </p>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <div class="mb-4 border-bottom">

            <h5 class="text-center text-uppercase textwhite" style="color: antiquewhite;">Company</h5>
          </div>
          <div class="row">
          <div class="col-4 col-xl-12 text-center">
          <h3><a routerLink="/About" class="text-center textwhite"
              style=" font-size:15px;text-decoration: none; color: white;">About</a></h3>
          </div>
              <div class="col-4 col-xl-12 text-center">
              <h3><a class="textwhite"
              style="font-size:15px;text-decoration: none; color: white;">Services</a></h3>
              </div>
              <div class="col-4 col-xl-12 text-center">
          <h3><a routerLink="/Contact" class="textwhite"
              style="font-size:15px;text-decoration: none; color: white;">Contact</a></h3>
        
            </div>
          </div>
      </div>
        <div class="col-12 col-xl-3  col-md-3">
          <div class="border-bottom">
            <h5 class="text-center text-uppercase textwhite " style="color: antiquewhite;">Follow Us</h5>
           </div>
           <div class="row"> 
            <!-- <ul class="" style="display: inline;"> -->
           <li class="nav-item col-4 col-xl-4  mt-3 butn ">
            <a href="javascript:void(0)" class="nav-link" >
              <!-- <i class="fa fa-facebook" style="font-size: 30px;" aria-hidden="true"></i> -->
              <i class="fa fa-facebook-square" style="font-size: 30px;"></i>
            </a>
           </li>
            <li class="nav-item col-4 col-xl-4 mt-3 butn ">
            <a href="javascript:void(0)" class="nav-link" >
              <!-- <i class="fa fa-facebook" style="font-size: 30px;" aria-hidden="true"></i> -->
               <i class="fa fa-twitter-square" style="font-size: 30px;"></i>

            </a>
            </li>
           
          <li class="nav-item col-4 col-xl-4 mt-3 butn">
            <a href="javascript:void(0)" class="nav-link" >
              <!-- <i class="fa fa-facebook" style="font-size: 30px;" aria-hidden="true"></i> -->
              <i class="fa fa-facebook-square" style="font-size: 30px;"></i>
            </a>
</li>

        <!-- </ul> -->
      </div>
 
 
           </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 textwhite">Copyright @ 2014-2020. WAB IT Software Pvt.ltd. All Rights Reserved.
      <!-- <a class="textwhite" href="https://BhoiVarVadhu.com/">BhoiVarVadhu.com</a> -->
    </div>
    <!-- Copyright -->

  </footer>
</div>
</div>
</div>