 .a1 {
  background-color: rgba(89, 79, 128, 0.74);
  border-radius: 5px;
  color: #ffffff;
  font-family: Lucida Handwriting, serif;
  line-height: 1.7;
  font-size: 15px;
  text-align: center;
  /* max-width: 50%; */
  /* padding: 2rem 3rem; */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassy-text {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(89, 79, 128, 0.74);
  }
}


.a1 {
  background-image: url("src\assets\image\b3.jpg"); 
   /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  /* display: grid; */
  /* place-items: center; */
}