<div class="container-fluid border border-primary">
    <div class="card border border-primary" style="margin-top: 50px; background-color: white; border-radius: 20px; ">

        <div class="card-body">

            <div class="row ">
                <div class="col-xl-2 border border-primary"></div>
                <div class="col-xl-8 border border-primary">

                    <h1 class="text-center">Rules & Terms/Conditions:-</h1>

                    <div class="row">
                        <div class="col-12 border border-primary">
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>Groom & bride can do free registration. Groom & bride can do registration. By
                                www.bhoivarvadhu.com website or offline form.
                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>Mobile number must require for free registration.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>For Free registration login to www.bhoivarvadhu.com, on home page click on Free
                                Registration, You can view a registration form fill the whole form and submit. You got a
                                new registration ID [e.g. – BVV1] and Password.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>For registration bride must have complete 18year's old and groom must have complete
                                21year's old.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>Below 18year's bride and below 21year's groom will not be allowed for registration.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>Remember your registration ID and Password at all time, Registration ID and Password
                                use for to find out your favorite profile.

                            </h1>

                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>Paid User can view the all information of their favorite profile. In a month 30
                                profiles & in year 360 profiles.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>Paid fee can not be refundable in any how.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>User can pay fee Rs. 399/- yearly by online payment or by Bank account pay or By
                                Hand.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>User must provide true/convenience information at time of form filling if any
                                information found wrong/inconvenience then user is responsible for that.
                                www.bhoivarvadhu.com or company will not be responsible for that.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>IT Is a User & parent’s duty to check the true information of their favorite
                                profile. www.bhoivarvadhu.com or company will not responsible for that.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>It is user duty to provide a true/convenience information at time of form filling if
                                any information found wrong/inconvenience then user is responsible for that and
                                www.bhoivarvadhu.com or company will cancel their registration from www.bhoivarvadhu.com
                                website.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>We provide same information of broom/bride as they filled into their profile form.
                                IT Is a User & parent’s duty to check the true information of their favorite profile.
                                www.bhoivarvadhu.com or company will not responsible for that.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>We provide only information of broom/bride profile. We can not give any surety to
                                fix Marriage or Engagement.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>Once you like one of the profiles then all next formality like a [broom/bride &
                                parents meeting, Marriage date or Engagement date & all things] have to done by parents
                                only, www.bhoivarvadhu.com or company will not responsible for that.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>www.bhoivarvadhu.com or company will not responsible for any kind of Marriage
                                breakup or Engagement breakup or divorce in future.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>www.bhoivarvadhu.com or company will not responsible for any kind of agreement/term
                                & condition in between both the parties (broom & bride) at time of fixing Marriage or
                                Engagement In a future. Any kind of problem arises about agreement/term & condition so
                                www.bhoivarvadhu.com or company will not responsible for that.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>We will not charge any kind of fee after fixing Marriage or Engagement.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon " aria-hidden="true">
                                </i>Company has all right reserved to make changes in website or make changes in rule &
                                regulations.

                            </h1>
                            <h1 class=" font">
                                <i class="fas fa-circle mt-3 mr-2 icon" aria-hidden="true">
                                </i>Free Registration is open for whole Maharashtra & other states also. [Only for Bhoi
                                cast].

                            </h1>
                            <h1 class=" font">
                                Email :User can mail their form or photo by mail on this mail id bhoivarvadhu@gmail.com
                                or Whatsapp on this No.7040010693

                            </h1>

                            <h1 class="m-4" style="font-size: 25px;">
                                Office Address:-</h1>
                            <p class="font"> WAB IT SOFTWARE PVT. LTD.<br>
                                401,4th floor,Nirman Sankul,<br>
                                Above ICICI ATM,Sidharth Nagar,<br>
                                Aundhgaon,Phase 1, Siddarth Nagar Society,<br>
                                Aundh, Pune, Maharashtra 411007
                            </p>

                            <h1 class="m-4" style="font-size: 25px;">
                                Contact Person:-</h1>
                            <p class="font">
                                Mr.Sachin wadile(Bhoi)[7040010693]<br>
                                Mrs.Priyanka Wadile(Bhoi)[7040010693]<br>
                            </p>

<h1 class="font mt-4 text-center">Copyright © 2017-2019 bhoivarvadhu.com All Rights Reserved. Developed By-WAB IT SOFTWARE PVT LTD.

</h1>
                        </div>


                    </div>







                </div>








                <div class="col-xl-2 border border-primary"></div>
            </div>
        </div>
    </div>



</div>