.cardhover {
	box-shadow: 0 4px 8px 0 #77f38c;
	transition: 0.3s;
  }
.cardshadow{
	box-shadow: 0 4px 8px 0 #6dee83;
	transition: 0.3s;
  }

  /* #b09492 */
  .cardhover:hover {
	box-shadow: 0 18px 16px 0px #b09492;
  }

  ::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
    max-height: 20px;
    max-width: 20px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
		  .small{

			height: 1000px;
		  }	
	
	
	 }

	 @media (max-width: 575.98px) { 
		
		.small{
			height: 1000px;
		}

	  }

	   
/* card shiny css */
	  .button {
		display: block;
		position: relative;
 		padding: 10px 0;
 		color: #fff; 
		border: none;
	  }
	  .button.one:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: rgba(255,255,255,0.4);
		  -webkit-transition: none;
			 -moz-transition: none;
				  transition: none;
	  }
	  .button.one:hover:after {
		width: 120%;
		background-color: rgba(255,255,255,0);
		
		  -webkit-transition: all 0.7s ease-in-out;
			 -moz-transition: all 0.7s ease-in-out;
				  transition: all 0.7s ease-in-out;
	  }

	  .borderradius{
	  border-top-right-radius: 15px;
	  border-top-left-radius: 15px
	  }