<div class="">
    <app-navbar></app-navbar>
</div>
<div class="container-fluid">
    <div class="container-fluid"
        style="margin: auto; margin-top: 50px;">
        <h1 class="text-center " style="margin-bottom: 50px;margin-top: 50px;">Our Services</h1>
        <div class="row mt-4 border-bottom border-top ">
            
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4 ">
                <i class="fa fa-globe mt-4 " style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4 " style="font-size:20px; font-weight: bold;">WEBSITE DESIGNING & DEVELOPMENT


                </h1>
                <p class="">
                    Company can develop & design E-commerce Websites, Personal Websites Photo Sharing Websites Writers / Authors Website Community Building Websites Mobile Device Websites Blogs Informational Websites Online Business Brochure/Catalog Directory Websites…etc.



                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-mobile mt-4 " style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4 " style="font-size:20px; font-weight: bold;">MOBILE APPLICATION DEVELOPMENT

                </h1>
                <p class="">
                    Company can develop any kind of Mobile Apps, Basic Android Apps, Utilities Apps, Entertainment Apps, Games Apps, News Apps, Productivity Apps, Lifestyle Apps, Social Networking Apps


                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-desktop mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">DESKTOP APPLICATION DEVELOPMENT

                </h1>
                <p>
                    Company can develop & design E-commerce Websites, Personal Websites Photo Sharing Websites Writers /
                    Authors Website Community Building Websites Mobile Device Websites Blogs Informational Websites
                    Online
                    Business Brochure/Catalog Directory Websites…etc.
                </p>

            </div>
        </div>
        <div class="row mt-4 border-bottom">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-users mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">COLLEGE STUDENTS PROJECT DEVELOPMENT &
                    INTERNSHIP
                </h1>
                <p>
                    Last Year college student projects [Mini or Majer] Projects development or ready projects also
                    available. The projects base on JAVA, PHP, .Net, languages or database projects also available.

                    Company also provides internships on software languages [JAVA, PHP, .Net or Software testing]
                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4 ">
                <i class="fa fa-check-square-o mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">DOMAIN NAME BOOKING

                </h1>
                <p>
                    Company Provide Domain Name booking service for any kind of Website as per as clients requirements

                    Domain name booking available in [.com, .in, .co.in, .gov.in, .net]. Domain Name available for

                    E-commerce’s/ Personal website or any kind of website.
                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-server mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">WEB HOSTING SERVER SPACE [JAVA OR PHP]

                </h1>
                <p>
                    Company provides Hosting services for any kind of web application/websites in JAVA or PHP hosting.
                    Unlimited Web Space SSD, Unlimited Bandwidth + Emails, Unlimited Domains + FTP, Free C Panel + SSL
                    Certificate.
                </p>

            </div>
        </div>
        <div class="row mt-4 border-bottom">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-search mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">SEARCH ENGINE OPTIMIZATION

                </h1>
                <p>
                    ON PAGE SERVICES INCLUDES Keyword Analysis, Research & Finalization Competitive Analysis & Resource Development Target Landing Pages On-Page Optimization Heading Tags Content Optimization and Resources Finding Google Analytics Code Optimization Webmaster Tool Implementation Google XML Sitemap Robot.txt Optimization Optimize Landing Page for Mobile

</p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-globe mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">WEB DEVELOPMENT

                </h1>
                <p>
                    We can provide custom developed website or application based on your specific requirements. Either way, our consultants will provide you with the most efficient solutions for your business needs. We ensure success by providing a collaborative environment developing solutions to your company, which will make it operate more efficiently and reduce time wasted. Programming languages we use: MS SQL, JQuery, CSS, HTML5, Asp.net, C#, MVC, Angular, JS, Bootstrap, WPF and windows Form

</p>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-xl-4">
                <i class="fa fa-envelope mt-4" style="font-size: 40px; margin: auto;"></i>
                <h1 class="mt-4" style="font-size:20px; font-weight: bold;">BULK SMS SALES

                </h1>
                <p>
                    Company provides Bulk SMS services to clients. Promotional SMS & Transitional SMS also provide Powerful Web API’s, Unlimited Validity.

</p>

            </div>
        </div>
    </div>

</div>

    <div class="">
        <app-footer></app-footer>
    </div>