.card {
    box-shadow: 0 4px 8px 0 #dad6d6;
    transition: 0.3s;
    /* width: 40%; */
    opacity: 50;
  }
 
  .card:hover {
    box-shadow: 0 11px 11px 0px #b1aeae;
  }
 


  .fontstyle {
    /* background-color: #9b1503bd; */
    /* border-radius: 25px; */
    /* color: #ffffff;
     
    line-height: 1.7; */
     text-align: center;
    /* max-width: 50%; */
    /* padding: 2rem 3rem; */
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fontstyle {
      -webkit-backdrop-filter: blur(0.8px);
      backdrop-filter: blur(0.8px);
      background-color: #b7bbbebd;
    }
  }
  
  
  .Largescreen {
    background-image: url("src\assets\img\n11.jpg"); 
     /* background-position: center; */
    background-repeat:  no-repeat;
    background-size: cover;
     height: 500px;
     /* margin: 0; */
    /* display: grid; */
    /* place-items: center; */
  }


/* for small screen */
  
  .smallscreen {
    background-image: url("src\assets\image\b3.jpg"); 
     /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0;
    /* display: grid; */
    /* place-items: center; */
  }
  .fontsmall {
    background-color: rgba(29, 236, 10, 0.74);
    /* border-radius: 25px; */
    color: #ffffff;
     line-height: 1.7;
     text-align: center;

     font-size: 5px;
     font-size: 3.5vw;
    /* max-width: 50%; */
    /* padding: 2rem 3rem; */
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glassy-text {
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      background-color: rgba(89, 79, 128, 0.74);
    }
  }

 

  .bar{
    max-height:200px; scrollbar-width: thin;
    }
  
    * {
    scrollbar-width: thin;
    scrollbar-color: #93d2f7 #9cedf8;
    }
    *::-webkit-scrollbar {
    width: 6px;
    }
    *::-webkit-scrollbar-track {
    background: #bddeee;
    }
    *::-webkit-scrollbar-thumb {
    background-color: #43a0ec;
    border-radius: 20px;
    border: 3px solid #57abfa;
    }